<div class="modal-header">
    <h5 mat-dialog-title>TRANSFERENCIA A TERCEROS </h5>
</div>
<form class="example-container" [formGroup]="form" #frm="ngForm" (ngSubmit)="abrirPrevisualizacionTrans()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h5> Cuenta Origen :</h5>
                    <div class="controls">
                        <select class="form-control" formControlName="idcuentaorigen">
                            <option [ngValue]="item" *ngFor="let item of listaCuentas">{{item.numero_cuenta}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5> Cuenta Destino :</h5>
                    <div class="controls">
                        <input type="number" class="form-control" formControlName="cuentadestino">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h5> Moneda :</h5>
                    <div class="controls">
                        <select class="form-control" formControlName="idmoneda">
                            <option [ngValue]="item" *ngFor="let item of listaMonedas">{{item.moneda}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h5> Monto a Transferir :</h5>
                    <div class="controls">
                        <input type="number" class="form-control" formControlName="monto">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" style="background:transparent;">
        <button type="button" class="btn btn-danger waves-effect waves-light btn-sm" (click)="cancelar()" style="width: 100px;height: 50px;">
            <a>Cancelar</a> </button>
        <button type="submit" [disabled]="frm.invalid" class="btn btn-primary waves-effect waves-light btn-sm" data-dismiss="modal" style="width: 100px;height: 50px;">
            <a>{{boton_primario}}</a></button>
    </div>
</form>
<!-- </div> -->