<!-- <form class="example-container" [formGroup]="form" #frmUsuario="ngForm" (ngSubmit)="operar()">
    <h1 mat-dialog-title>{{IU}} USUARIO</h1>
    <input type="text" class="form-control" formControlName="id">
    <input type="text" class="form-control" formControlName="email">
    <input type="text" class="form-control" formControlName="tipo_de_cuenta">
    <input type="date" class="form-control" formControlName="fecha_nac">
    <input type="text" class="form-control" formControlName="sexo">
    <input type="text" class="form-control" formControlName="direccion">
    <input type="text" class="form-control" formControlName="estado">
    <input type="text" class="form-control" formControlName="id_distrito">

    <div mat-dialog-actions style="float: right;">
        <button mat-raised-button color="accent" type="button" (click)="cancelar()">CANCELAR</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="frmUsuario.invalid">ACEPTAR</button>
    </div>
</form> -->