<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<aside class="left-sidebar" style="box-shadow: 2px 1px 26px 0px rgba(0,0,0,0.75);">
    <!-- Sidebar scroll-->
    <div class="left-sidebar2">
        <div class="scroll-sidebar">
            <br>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Nav Item - Dashboard -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a routerLinkActive="active" class="nav-link" routerLink="/dashboard">
                            <i class="fas fa-tv"></i>
                            <span style="display: inline-block;margin-left: 10px;">Dashboard</span>
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Heading -->
                <h6 class="navbar-heading text-muted" style="margin-left: 10px;">Mantenimientos</h6>

                <hr class="sidebar-divider">

                <ul class="navbar-nav mb-md-3">

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/promociones">
                            <i class="fas fa-star"></i>
                            <span style="display: inline-block;margin-left: 10px;">Promociones </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tipodecambio">
                            <i class="fas fa-money-bill-alt"></i>
                            <span style="display: inline-block;margin-left: 10px;">Tipo de Cambio</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cuentausuario">
                            <i class="fas fa-user"></i>
                            <span style="display: inline-block;margin-left: 10px;">Cuenta de Usuario</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" routerLink="/prestamocliente">
                            <i class="fas fa-money-bill-alt"></i>
                            <span style="display: inline-block;margin-left: 10px;">Préstamos de Clientes</span>
                        </a>
                    </li>

                </ul>

                <hr class="sidebar-divider">
                <!-- Heading -->
                <h6 class="navbar-heading text-muted" style="margin-left: 10px;">Cliente</h6>

                <hr class="sidebar-divider">

                <ul class="navbar-nav mb-md-3">

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/paginamantenimiento">
                            <i class="fas fa-home"></i>
                            <span style="display: inline-block;margin-left: 10px;">Inicio</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">
                            <i class="fas fa-chart-line"></i>
                            <span style="display: inline-block;margin-left: 10px;">Cuenta Bancaria</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/abrirCuentaDigitalComponent">
                            <i class="fas fa-user-plus"></i>
                            <span style="display: inline-block;margin-left: 10px;">Registrar Usuario</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tipodetransferencia">
                            <i class="fab fa-cc-mastercard"></i>
                            <span style="display: inline-block;margin-left: 10px;">Transferencia</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cuentaDigitalInicioComponent">
                            <i class="far fa-address-card"></i>
                            <span style="display: inline-block;margin-left: 10px;">Cuenta Digital</span>
                        </a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/paginamantenimiento">
                            <i class="fab fa-cc-mastercard"></i>
                            <span style="display: inline-block;margin-left: 10px;">Salir</span>
                        </a>
                    </li> -->



                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/transferenciaOtrascuenta">
                            <i class="fab fa-cc-visa"></i>
                            <span style="display: inline-block;margin-left: 10px;">Transferencia a terceros</span>
                        </a>
                    </li> -->

                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/cuentaDigitalInicioComponent">
                            <i class="far fa-address-card"></i>
                            <span style="display: inline-block;margin-left: 10px;">Cuenta Digital</span>
                        </a>
                    </li> -->

                </ul>

                <!-- <hr class="sidebar-divider"> -->
                <!-- Heading -->
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- End of Sidebar -->
            </nav>
            <!-- End Sidebar navigation -->
        </div>
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->