.sidebar-heading{
    font-size: 18px;
}

.fa{
    display:inline-block;
    font-size: 15px;
}
.fas{
    margin-left: 8px;
    font-size: 15px;
}
.fab ,.far{
    margin-left: 8px;
    font-size: 15px;
}

aside,nav{
    background-color:beige;
}
