<aside class="left-sidebar" style="box-shadow: 2px 1px 26px 0px rgba(0,0,0,0.75);">
    <!-- Sidebar scroll-->
    <div class="left-sidebar2" style="height: 100%;">
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <!-- Sidebar -->
                <!-- <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"> -->
                <ul id="accordionSidebar">

                    <!-- Sidebar - Brand -->
                    <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center">
                        <div class="sidebar-brand-text mx-3">GI & VA Services</div>
                    </a> -->

                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard">
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider">
                    <!-- Heading -->
                    <div class="sidebar-heading">
                        MANTENIMIENTOS
                    </div>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/promociones">
                            <span>Promociones</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tipodecambio">
                            <span>Tipo de Cambio</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cuentausuario">
                            <span>Usuario</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" routerLink="/prestamecliente">
                            <span>Presatamos de Clientes</span>
                        </a>
                    </li>

                    <hr class="sidebar-divider">

                    <div class="sidebar-heading">
                        USUARIO
                    </div>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/null">
                            <span>Pagina Principal</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/abrirCuentaDigitalComponent">
                            <span>Abrir Cuenta Digital</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cuentaDigitalInicioComponent">
                            <span>Cuenta Digital</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tipodetransferencia">
                            <span>Tipo de Transferencia</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">
                            <span>Login</span>
                        </a>
                    </li>

                    <hr class="sidebar-divider">
                    <!-- Heading -->
                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">

                </ul>
                <!-- End of Sidebar -->
            </nav>
            <!-- End Sidebar navigation -->
        </div>
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->